<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstagramKitAppClientId</key>
	<string>5ea8c033d1174f4aa25114281d5b1497</string>
	<key>InstagramKitAppRedirectURL</key>
	<string>http://www.umich.edu/~maximal</string>
	<key>InstagramKitBaseUrl</key>
	<string>https://api.instagram.com/v1/</string>
	<key>InstagramKitAuthorizationUrl</key>
	<string>https://api.instagram.com/oauth/authorize/</string>
</dict>
</plist>
